<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= recipe.title %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!--<link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" media="all" href="assets/css/recipe.css" data-turbolinks-track="true">
    <script src="assets/js/recipe.js" data-turbolinks-track="true"></script>
    <!--<meta name="csrf-param" content="authenticity_token">-->
    <!--<meta name="csrf-token"-->
    <!--content="GYukpVRxAQz6wr1TUq58KJztLxThRDwmbIcX7XBz6hqmlNIVCyv7rqdU1MetoY/zuoeOiLlMrTHfE0HtdFh0vQ==">-->
    <style id="style-1-cropbar-clipper">
        /* Copyright 2014 Evernote Corporation. All rights reserved. */
        .en-markup-crop-options {
            top: 18px !important;
            left: 50% !important;
            margin-left: -100px !important;
            width: 200px !important;
            border: 2px rgba(255, 255, 255, .38) solid !important;
            border-radius: 4px !important;
        }

        .en-markup-crop-options div div:first-of-type {
            margin-left: 0px !important;
        }
    </style>
</head>
<body>
<div class="wechat-share">
    <div id="id"><%= recipe.sn %></div>
    <div id="title"><%= recipe.title %></div>
    <div id="desc"><%= recipe.desc %>&nbsp;来源：<%= recipe.cook.username?recipe.cook.username:'' %></div>
    <div id="imgUrl"><%= recipe.image %>?imageView/1/w/360/h/360</div>
</div>
<div class="loader-container">
    <div class="loader">Loading...</div>
</div>
<div class="container share">
    <div class="main">
        <div class="video" style="height: 360px;">
            <div class="player">
                <video controls="" id="player" preload="metadata"
                       src="<%= recipe.video %>"
                       webkit-playsinline=""></video>
            </div>
            <div class="cover">
                <div class="masker"></div>
                <div class="poster"
                     style="background-image: url('<%= recipe.image %>?imageView/1/w/1280/h/720')"></div>
                <div class="control"><img src="/assets/css/images/play.png" alt="Play"></div>
                <div class="duration"><%= recipe.duration %></div>
            </div>
        </div>
        <div class="name"><%= recipe.title %></div>
        <div class="info"><span class="category-name"><%= tags[0].title %></span>&nbsp;&nbsp;⋅&nbsp; <span
                    class="published-at"><%= recipe.date %></span><i
                    class="fa fa-angle-down toggle"></i>
            <div class="desc hide"><p><%= recipe.desc %>&nbsp;来源：<%= recipe.cook.username %></p></div>
        </div>
        <div class="tabbars">
            <span class="tabbar active" data-content="#related-videos">相关</span><span class="tabbar"
                                                                                      data-content="#latest-videos">最新</span><span
                    class="tabbar" data-content="#hotest-videos">排名</span>
        </div>
        <div class="tabcontents">
            <div class="tabcontent active" id="related-videos">
                <% for(var i = 0; i < related.length; i++) { %>
                <a class="video clear" href="<%= related[i].url %>">
                    <div class="poster"
                         style="background-image: url('<%= related[i].image %>?imageView/1/w/640/h/360')">
                        <div class="duration"><span><%= related[i].duration %></span></div>
                    </div>
                    <div class="info">
                        <div class="name"><%= related[i].title %></div>
                        <div><span class="category-name"><%= related[i].tag.title %></span>&nbsp;⋅ <span
                                    class="published-at"><%= related[i].date %></span></div>
                    </div>
                </a>
                <% } %>
            </div>
            <div class="tabcontent" id="latest-videos">
                <% for(var i = 0; i < latest.length; i++) { %>
                <a class="video clear" href="<%= latest[i].url %>">
                    <div class="poster"
                         style="background-image: url('<%= latest[i].image %>?imageView/1/w/640/h/360')">
                        <div class="duration"><span><%= latest[i].duration %></span></div>
                    </div>
                    <div class="info">
                        <div class="name"><%= latest[i].title %></div>
                        <div><span class="category-name"><%= latest[i].tag.title %></span>&nbsp;⋅ <span
                                    class="published-at"><%= latest[i].date %></span></div>
                    </div>
                </a>
                <% } %>
            </div>
            <div class="tabcontent" id="hotest-videos">
                <% for(var i = 0; i < hottest.length; i++) { %>
                <a class="video clear" href="<%= hottest[i].url %>">
                    <div class="poster"
                         style="background-image: url('<%= hottest[i].image %>?imageView/1/w/640/h/360')">
                        <div class="duration"><span><%= hottest[i].duration %></span></div>
                    </div>
                    <div class="info">
                        <div class="name"><%= hottest[i].title %></div>
                        <div><span class="category-name"><%= hottest[i].tag.title %></span>&nbsp;⋅ <span
                                    class="published-at"><%= hottest[i].date %></span></div>
                    </div>
                </a>
                <% } %>
            </div>
        </div>
        <div class="bottom">
            <div class="logo"><img
                        src="/assets/css/images/logo-reverse.png"
                        alt="Logo reverse"></div>
            <!--<div class="qrcode"><img-->
                        <!--src="/assets/css/images/wechat-qrcode.png"-->
                        <!--alt="Wechat qrcode"></div>-->
        </div>
        <div class="download">
            <div class="logo"><img
                        src="/assets/css/images/icon.png"
                        alt="Icon"></div>
            <div class="text">
                <div class="up">蛋糕⋅裱花⋅甜品</div>
                <div class="down">更多精彩 尽在snaku.tv</div>
            </div>
            <!--<div class="button"><a href="http://change.so/LaT0bA#">立刻安装 iOS</a></div>-->
        </div>
    </div>
</div>
<!--<script>window.railsENV = "production"-->
<!--window.changeAPIURL = "http://api.change.so"</script>-->
</body>
</html>